# Dependencies
node_modules
npm-debug.log

# Source control
.git
.github

# Environment and config
.env
.env.example
.env.*

# Development files
.eslintrc.js
.gitignore
README.md
CHANGELOG.md
jest.config.js

# Build artifacts
dist
coverage

# Other
.DS_Store
*.log
